table, th, td {
    /* border: 1px solid black; */
  }
body{
    font-size: 2rem;
}
td{
    width: 10%;
}
.schdule{
    height: 0;
    overflow: hidden;
}
.autoHeight{
    height: auto;
}
.ShowArea{
    min-height: 40vh;
    width: 100%;
    border: 3px solid;
}
.ShowArea + button{
    font-size: 1.5rem;
    width: 90px;
}